table {
    width: 800px;
    border:#000 solid thin solid;
    border-collapse:collapse;    
}
th, td {
    border:#000 thin solid;
    }

    th {
        background-color: #ccc;
       padding: 10px;
    }

input[type="number"] {
    width: 50%;
    margin: 10px auto;
    display: block;
    }

 #inicio {
   background-color: blue;
 }
 
 label.form-label {
    font-size: 1.2em;
    font-variant: all-small-caps;
   font-weight: bolder;
 }  

 input[type="submit"] {
    background-color: #ccc;
 }
 button.btn.btn-outline-success.my-2.my-sm-0 {
    background-color: #ccc;
}